<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h1>MovieFinder Search Results</h1>
    <form>
      <input type="search" name="title">
      <button>Search</button>
    </form>
    <h2><%= @movie.title %></h2>
    <p><%= @movie.plot %></p>
  </body>
</html>
